
body{
  background-image: url('../images/noise.png')
}

.slider-container {

	padding: 30px 0 25px 0;
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	}
	h1 {

		margin: 0;

	}
	h2 {
    font-weight: 400;
	}
	.orbit-slide {
		margin-left: 70px;
		margin-right: 70px;
	}
	.slidertext {
		margin-top: 25px;
		// float: left;
		width: 60%;
	}
	.slider-byline {
		margin-top: 20px;
	}

	p {

	}
}


.menu-title a {
  color: black;
  font-family: 'Montserrat';
  letter-spacing: 1px;
  font-size: 2rem;
}

.row-rule {
  margin-top: 50px;
  margin-bottom: 50px;
}
#block1 {
  h1, h2{
  text-align: center;
  margin-bottom: 10px;

  }
  h1 {
    font-family: "Montserrat";
    font-weight: 600;

  }
  h2 {
    font-family: 'Montserrat';
    font-weight: 400;

  }
  h3 {
    font-family: 'Montserrat';
    font-weight: 400;
  }
  .button .primary {
    margin-top: 25px;
    font-family: 'Montserrat';
    font-weight: 600;
  }
}
#featuregroups {
  margin-top: 25px;
}
.homepageimage{
  margin: 15px;
}
#block2 {
  h1 {
    font-weight: 500;
    letter-spacing: 1px;

    margin-bottom: 10px;
  }

  a > .button {
    margin-top: 55px;
  }
  li{
  font-size: $global-font-size * 1.15 !important;
  line-height: $global-lineheight * 1.20;
 }

}
#block3 {
  h2 {
    font-weight: 400;
  }
  .row {
  padding: 25px; }
  .large-8 {
    padding: 50px;
  }
}
#block4 > .row {
  padding: 25px;
  .large-8 {
    padding: 50px;
  }
}
#block2, #block4{

  h2{

  }
  img {

  }

}
.menu-item > a {
  color: black !important;
}
.fa-square {
  color: #2bb24c;
}
#downloadbtn > a {
  margin: 25px 0 25px 0;
}
