.menu-title a {
  color: black;
  font-family: 'Montserrat';
  letter-spacing: 1px;
  font-size: 2rem;
}
.menu > li > a img, .menu > li > a i, .menu > li > a svg {
  color: orange;
}

#block1 {
  h1, h2{
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0px;

  }
  h1 {
    font-family: "Montserrat";
    font-weight: 600;

  }
  h2 {
    font-family: 'Montserrat';
    font-weight: 400;

  }
  h3 {
    font-family: 'Montserrat';
    font-weight: 400;
  }
  .button .primary {
    margin-top: 25px;
    font-family: 'Montserrat';
    font-weight: 600;
  }
}
#featuregroups {
  margin-top: 25px;
}
.homepageimage{
  margin: 15px;
}
#block2 {
  .row {
  padding: 25px; }
  .large-8{
    padding-top: 50px;
  }
}
#block3 {
  .row {
  padding: 25px; }
  .large-8 {
    padding: 50px;
  }
}
#block4 > .row {
  padding: 25px;
  .large-8 {
    padding: 50px;
  }
}
#block2, #block4{
  background: #e5e5e5;
}
.fa-square {
  color: #2bb24c;
}
#downloadbtn > a {
  margin: 25px 0 25px 0;
}
