.menu-title a {
  color: black;
  font-weight: 700;
  font-size: 2rem;
}
.menu > li > a img, .menu > li > a i, .menu > li > a svg {
  color: orange;
}

#block1 {
  h1, h2{
  text-align: center;
  margin-bottom: 25px;
  }
  h1 {
    font-weight: 700;

  }
  h2 {
    font-weight: 400;

  }
  .button .primary {
    margin-top: 25px;
    font-weight: 600;
  }
}

#block2, #block4{
  background: #e5e5e5;
}
.fa-square {
  color: #2bb24c;
}
