.menu-title a {
  color: black;
  font-family: 'Clear Sans Medium';
  letter-spacing: 1px;
  font-size: 2rem; }

.menu > li > a img, .menu > li > a i, .menu > li > a svg {
  color: orange; }

#block1 h1, #block1 h2 {
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1px; }

#block1 h1 {
  font-family: "Clear Sans Medium"; }

#block1 h2 {
  font-family: 'Clear Sans Light'; }

#block1 h3 {
  font-family: 'Clear Sans Light'; }

#block1 .button .primary {
  margin-top: 25px;
  font-family: 'Clear Sans Bold'; }

#block2, #block4 {
  background: #e5e5e5; }

.fa-square {
  color: #2bb24c; }
