.menu-title a {
  color: black;
  font-family: 'Montserrat';
  letter-spacing: 1px;
  font-size: 2rem; }

.menu > li > a img, .menu > li > a i, .menu > li > a svg {
  color: orange; }

#block1 h1, #block1 h2 {
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0px; }

#block1 h1 {
  font-family: "Montserrat";
  font-weight: 600; }

#block1 h2 {
  font-family: 'Montserrat';
  font-weight: 400; }

#block1 h3 {
  font-family: 'Montserrat';
  font-weight: 400; }

#block1 .button .primary {
  margin-top: 25px;
  font-family: 'Montserrat';
  font-weight: 600; }

#featuregroups {
  margin-top: 25px; }

.homepageimage {
  margin: 15px; }

#block2 .row {
  padding: 25px; }

#block2 .large-8 {
  padding-top: 50px; }

#block3 .row {
  padding: 25px; }

#block3 .large-8 {
  padding: 50px; }

#block4 > .row {
  padding: 25px; }
  #block4 > .row .large-8 {
    padding: 50px; }

#block2, #block4 {
  background: #e5e5e5; }

.fa-square {
  color: #2bb24c; }

#downloadbtn > a {
  margin: 25px 0 25px 0; }
